# macOS
.DS_Store

# Xcode build artifacts
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Xcode user state
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Archives and app packages
*.ipa
*.dSYM.zip
*.dSYM

# Secrets / local config
Secrets.xcconfig
Info.plist
*.env
.env
.env.*
Secrets.plist
